body {
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper-outer {
    width: 100vw;
    height: 100vh;
    background-color: #fafafa;
}

.wrapper-inner {
    max-width: 935px;
    margin: 0 auto;
    padding: 90px 20px 0;
}


